<div class="review-block flex flex-col md:flex-row justify-center">
  <div class="py-8 px-8 text-center">
    <div class="text-yellow-500 text-lg">★★★★★</div>
    <p class="mt-2 text-md italic">
      J'ai pu choisir les couleurs de mon poster pour que s’harmonisent avec ma déco scandinave.
    </p>
    <p class="mt-1 text-gray-500 font-semibold">Marie L.</p>
  </div>
  <div class=" py-8 px-8 text-center">
    <div class="text-yellow-500 text-lg">★★★★★</div>
    <p class="mt-2 text-md italic">Cadeau idéal pour mon frère globe-trotteur !</p>
    <p class="mt-1 text-gray-500 font-semibold">Thomas P.</p>
  </div>
  <div class="py-8 px-8 text-center">
    <div class="text-yellow-500 text-lg">★★★★★</div>
    <p class="mt-2 text-md italic">J'ai pris la version numérique, idéal pour l'imprimer et la colorier sois même.</p>
    <p class="mt-1 text-gray-500 font-semibold">Sophie M.</p>
  </div>
</div>

{% schema %}
{
  "name": "Review",
  "settings": [],
  "presets": [
    {
      "name": "Review"
    }
  ]
}
{% endschema %}
