@import "tailwindcss";

:root {
    --ocean-color: #091c2a;
    --selected-color: #ffffff;
    --unfilled-color: #e1b26a;
    --border-color: #000000;
    --highlighted-color: #e5e5e5;
}

.highlighted {
    fill: var(--highlighted-color) !important;
}

#worldMap path.selected {
    fill: var(--selected-color);
}

.border-color {
    border: 1px solid var(--border-color);
}

.unfilled-color {
    fill: var(--unfilled-color);
}

#oceanColorBox {
    background-color: var(--ocean-color);
}

#selectedColorBox {
    background-color: var(--selected-color);
}

#unfilledColorBox {
    background-color: var(--unfilled-color);
}

#borderColorBox {
    background-color: var(--border-color);
}

#worldMap {
    background-color: var(--ocean-color);
}

#worldMap path {
    fill: var(--unfilled-color);
    stroke: var(--border-color);
    stroke-width: 0.3;
}

#ColorSettings div:empty {
    display: block;
}

variant-selects>fieldset>legend.form__label,
label.quantity__label.form__label {
    font-size: 18px;
    color: #121212;
}

#grid-container {
    display: none;
}

#slider-images,
#carousel-prev,
#carousel-next {
    display: block;
}

#carousel-indicators {
    display: flex;
}

hero-content>p {
    font-weight: 700 !important;
}

.product-form__input--pill input[type='radio'].disabled+label {
    display: none;
}

.product-description-desktop {
    display: none;
}

@media (min-width: 750px) {

    /* Breakpoint lg de Tailwind */
    #grid-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;
    }

    #slider-images,
    #carousel-indicators,
    #carousel-prev,
    #carousel-next {
        display: none
    }

    .product-description-desktop {
        display: block;
    }

    .product-description-mobile {
        display: none;
    }
}

@media (width >=1024px) {
    .product-description-desktop {
        display: block;
    }
}

#hero-button {
    /* Mobile */
    font-size: 10px;
    padding: 0.5rem 1.25rem;

    /* Tablette (≥640px) */
    @media (min-width: 640px) {
        font-size: 10px;
        padding: 0.625rem 1.5rem;
    }

    /* Small desktop (≥768px) */
    @media (min-width: 768px) {
        font-size: 12px;
    }

    /* Desktop (≥1024px) */
    @media (min-width: 1024px) {
        font-size: 14px;
        padding: 0.75rem 1.75rem;
    }

    /* Big screen (≥1280px) */
    @media (min-width: 1280px) {
        font-size: 16px;
        padding: 0.875rem 2rem;
    }
}

.hero-banner #worldMap {
    background-color: var(--selected-color);
}

.hero-banner #worldMap path {
    fill: var(--selected-color);
    stroke: var(--border-color);
    stroke-width: 0.3;
}